.icon-menu {
  ul {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-wrap: wrap;
    }

    @include media-breakpoint-down(sm) {
      background-color: $white;
      margin: 0;
      padding: 20px;
      border-radius: 3px;
    }
  }

  .item {
    &.is-first {
      a {
        max-width: 100px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }
    }

    @include media-breakpoint-up(md) {
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      background-color: $white;
      transition: all 0.5s ease;

      &:hover, &.is-active {
        background: $primary;

        .icon svg {
          stroke: $white;
        }

        .label {
          color: $white;
        }
      }
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;

      @include media-breakpoint-up(md) {
        flex-direction: column;
        padding: 15px 20px;
        min-width: 100px;
        // max-width: 100px;
      }

      @include media-breakpoint-up(lg) {
        padding: 20px 5px;
        min-width: 111px;
        // max-width: 111px;
      }
    }

    img {
      transition: all 0.5s ease;
    }

    &.active {
      @include media-breakpoint-up(sm) {
        .default-image {
          display: none;
          opacity: 0;
        }

        .hover-image {
          display: block;
          opacity: 1;
        }
      }
    }

    .hover-image {
      display: none;
      opacity: 0;
    }

    @include media-breakpoint-up(md) {
      &:not(.active):hover {
        .default-image {
          display: none;
          opacity: 0;
        }

        .hover-image {
          display: block;
          opacity: 1;
        }
      }
    }
  }

  .active {
    background: $white;

    @include media-breakpoint-up(md) {
      background: $primary;
    }

    .icon {
      svg {
        stroke: $body-color;

        @include media-breakpoint-up(md) {
          stroke: $white;
        }
      }
    }

    .label {
      color: $body-color;

      @include media-breakpoint-up(md) {
        color: $white;
      }
    }
  }

  .icon {
    display: inline-block;

    img {
      width: 28px;
      height: 28px;
    }
  }

  small {
    font-weight: 600;
    font-size: 14px;
  }

  .label {
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    color: $body-color;
    margin-left: 15px;
    margin-top: 0;

    @include media-breakpoint-up(md) {
      color: $body-color;
      margin-left: 0;
      margin-top: 5px;
      padding: 0 14px;

      // @include truncate(100px);
    }

    @include media-breakpoint-up(lg) {
      // @include truncate(111px);
    }
  }

  .link-text.has-icon {
    &::after {
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}
