.address-sidebar {
  .address {
    margin-bottom: 20px;

    .h4 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    a {
      text-decoration: underline;
      color: $body-color;
    }
  }

  .js-sticky-sidebar {
    will-change: min-height;
  }

  .fixed-address {
    transform: translate(0, 0);

    /* For browsers don't support translate3d. */
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
  }
}
