.section-articles {
  .card-lists {
    font-size: 0;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -40px;

    @include media-breakpoint-up(md) {
      margin-bottom: -60px;
    }

    @include media-breakpoint-up(xxl) {
      margin-left: -25px;
      margin-right: -25px;
    }

    @include media-breakpoint-down(xs) {
      margin-left: -10px;
      margin-right: -10px;
    }

    .card-item {
      display: inline-block;
      padding: 0 10px;
      width: 100%;
      vertical-align: text-top;

      @include media-breakpoint-up(sm) {
        width: calc(100% / 2);
      }

      @include media-breakpoint-up(lg) {
        width: calc(100% / 3);
      }

      @include media-breakpoint-up(xxl) {
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    &.js-articles-flickity {
      @include media-breakpoint-down(xs) {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 0;
        padding-right: 0;
      }

      .card-item {
        @include media-breakpoint-down(sm) {
          width: 302px;
        }

        &:first-child {
          @include media-breakpoint-down(xs) {
            padding-left: 20px;
            width: 312px;
          }
        }

        &:last-child {
          @include media-breakpoint-down(xs) {
            padding-right: 20px;
            width: 312px;
          }
        }
      }
    }
  }

  .flickity-mobile {
    @include media-breakpoint-down(xs) {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 0;
      padding-right: 0;
    }

    .card-item {
      @include media-breakpoint-down(sm) {
        width: 302px;
      }

      &:first-child {
        @include media-breakpoint-down(xs) {
          padding-left: 20px;
          width: 312px;
        }
      }

      &:last-child {
        @include media-breakpoint-down(xs) {
          padding-right: 20px;
          width: 312px;
        }
      }
    }
  }

  .load-more {
    position: relative;
    margin-top: 60px;

    .spinner-border {
      width: 3rem;
      height: 3rem;
    }
  }
}
